.App {
	width: 100%;
}
.App .room {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 400px;
	height: 400px;
	border: 5px solid #1d1d1d;
	margin: 20px auto;
}

.room .upper-part,
.lower-part {
	height: 200px;
	display: flex;
}

.room .upper-part {
	justify-content: space-between;
	padding: 10px;
}

.room .lower-part {
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
}

.lamp {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	border: 1px solid grey;
	background-color: #ccc;
	box-shadow: inset 1px 2px 14px 8px #b3aeae;
}

.btn {
	width: 97px;
	height: 43px;
	font-size: 1.1rem;
	background-color: #fff;
	border-radius: 5px;
}

.lampOn {
	background-color: #e8e835;
}
